
* {
    box-sizing: border-box;
}
header {
    padding: 40px;
    text-align: center;
    font-size: 4em;
    background: #13293d;
    color: #b5a75e;
    border-bottom: 30px #879274;
}

h1
{
    font-size: 2em;
}

label{
    font-size: 1em;
}

.btn {
    background: #428bca;
    border: #357ebd solid 1px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 1em;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
}

.btn:hover {
    background: #357ebd;
}

.quiz-container {
    display: flex;
    width: 70%;
    
    flex-direction: column;
    margin: auto;
    background: radial-gradient(circle, rgba(240, 230, 140, 1) 0%, rgba(187, 124, 33, 0.604079131652661) 100%);
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin-block: 20px;
    padding: 20px;
}

.modal:target:before {
    display: none;
}

/* The Modal (background) */
.modal:before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.modal .modalDialog {
    background: #ffffff;
    border: #333333 solid 1px;
    border-radius: 5px;
    margin-left: -200px;
    position: fixed;
    left: 50%;
    z-index: 11;
    width: 360px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    top: 20%;
}

.modal:target .modalDialog {
    top: -100%;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
}

.modalBody {
    padding: 20px;
    font-size: 1em;
}

.modalHeader,
.modalFooter {
    padding: 10px 20px;
}

.modalHeader {
    border-bottom: #eeeeee solid 1px;
}

.modalHeader .h2 {
    font-size: 2em;
}

.modalFooter {
    border-top: #eeeeee solid 1px;
    text-align: right;
}

.quiz-header-container
{   display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
}

.timer {
    color: #010101;
    text-align: center;
    margin-left: auto;
}

.main-container {
    background-color:rgba(60, 64, 67, 0.15);
    padding: 10px;
     
}

.main-container p{
    padding: 0.5em;
    border: 1px solid #000000;
    background-color: rgba(187, 124, 33,0.5);
    font-size: 1.5em;
    color: black;
    text-align: left;
} 

.options-list li
{
    list-style-type:upper-roman;
    align-items: left;
    padding: 5px;

}
.options-list button{
    background-color: #51504f;
    border: 1px solid #eceff1;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    align-items: center;
}
.options-list button:hover {
    background-color: #073dba52;
    color: #ffffff;
}

.feedback {
    font-style: italic;
    font-size: 1em;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #5b5004;
    text-align: right;
}

.hide {
    display: none;
}

@media screen and (max-width: 768px) {
    header 
    {
        padding: 20px;
        font-size: 3em;
    }
    .quiz-container {
        width: 100%;
}
}
